.topbar {
    background-color: #021827;
    color: white;
    font-size: 13px;
    padding: 7px 0;
    }

.top-bar .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
    
}

.new-badge {
    background-color: #0ab3a6;
    color: white;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 6px;
    border-radius: 4px;
    margin-right: 7px;
}